// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.FousOnPanle{
  background: transparent;

}
.FousOnPanle:hover{
  background:#ff1a75;
}

.FousOnTitile{
  background: transparent;

}
.FousOnTitile:hover{
  background: #9fdf9f;
}
body
{margin: 0;
padding: 0;
  background-image: url(student.gif);
   background-repeat: no-repeat;
   background-size: cover;
    height: 100vh;
}
a
{
  color : green;
}


