// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.FousOnPanle{
  background: transparent;

}
.FousOnPanle:hover{
  background:#ff1a75;
}

.FousOnTitile{
  background: transparent;

}
.FousOnTitile:hover{
  background: #9fdf9f;
}
body
{margin: 0;
padding: 0;
  text-align: center;
  background-image: url(student.gif);
   background-repeat: no-repeat;
   background-size: cover;
    height: 100vh;

}
.table-striped
{
   font-size: 20px;
}
.print {
    background-color: #265a88;
    color: black;
    border: 2px solid #204d74;
    padding:2px;
    font-size:16px;
    color:white;
     font-family: "Times New Roman", Times, serif;
     border-radius: 4px;
}
.print:hover {
  background-color: #4CAF50;
    color: white;
  border-color: white;
  }

